<div class='modal' id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

  <form role="form" class="modal-content form-inline">
  <div style="margin: 30px;">
  <h1> Post a Job </h1>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" placeholder="Enter address">
    </div>
    <div class="form-group">
      <label for="description">Job Description</label>
      <input type="text" class="form-control" id="description" placeholder="Job Description">
    </div>
    <div class="form-group">
      <label for="contactNumber">Contact Number</label>
      <input type="text" class="form-control" id="contactNumber" placeholder="1-800-123-4556">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Save this posting for later
      </label>
    </div>
    <div>
    <label for="thing">Job Type</label>
    <select id="thing" class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    </div>
    <div class="form-group">
    <label for="moreInformation">Add Image</label>
    <input type="file" id="moreInformation">
  </div>
    <button class="btn btn-default login">Create</button>
    </div>

  </form>
</div>