<div class='modal' id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="md-title"></h4>
        <span class="md-text"></span>
        <span class="md-description"></span>
        <span class="md-phone"></span>
      </div>
    </div>
  </div>
</div>

<audio src="./sounds/location.mp3" id="location"></audio>
<audio src="./sounds/agriculture.mp3" id="agriculture"></audio>
<audio src="./sounds/factory.mp3" id="factory"></audio>
<audio src="./sounds/construction.mp3" id="construction"></audio>
<audio src="./sounds/childcare.mp3" id="childcare"></audio>
<audio src="./sounds/custodian.mp3" id="custodian"></audio>
<audio src="./sounds/government.mp3" id="government"></audio>
<audio src="./sounds/manuallabor.mp3" id="manuallabor"></audio>

<audio src="./sounds/farmWork.mp3" id="farmWork"></audio>
<audio src="./sounds/factoryWork.mp3" id="factoryWork"></audio>
<audio src="./sounds/constructionWork.mp3" id="constructionWork"></audio>
<audio src="./sounds/custodianWork.mp3" id="custodianWork"></audio>
<audio src="./sounds/childcareWork.mp3" id="childcareWork"></audio>
<audio src="./sounds/govtWork.mp3" id="govtWork"></audio>
<audio src="./sounds/manuallaborWork.mp3" id="manuallaborWork"></audio>