<div class='modal' id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add new job</h4>
				<fieldset>
					<label>Type</label>
					<select id='type'>
						<option>Childcare</option>
					</select>
					<label>Salary</label>
					<input id='salary' />
					<label>Period</label>
					<input id='period' />
				</fieldset>
				<fieldset>
					<label>Requirements</label>
					<textarea id='requirements' />
				</fieldset>
				<fieldset>
					<label>Description</label>
					<textarea id='description' />
				</fieldset>
				<button onclick="createJob()">Create</button>
			</div>
		</div>
	</div>
</div>
