<div class="topBar topBarContainer">
  <div id='logo'>
    <img src="./markers/wat.png" class="enlargen" onmouseover="playSound('tutorial')"> 
    developHer
  </div>

  <img src="./markers/agriculture.png" class="img-circle agriculture" onmouseover="playSound('agriculture')">
  <img src="./markers/factory.png" class=" factory" onmouseover="playSound('factory')">
  <img src="./markers/construction.png" class=" construction" onmouseover="playSound('construction')">
  <img src="./markers/childcare.png" class=" childcare" onmouseover="playSound('childcare')">
  <img src="./markers/government.png" class=" government" onmouseover="playSound('government')">
  <img src="./markers/manuallabor.png" class=" manuallabor" onmouseover="playSound('manuallabor')">

  <audio src="./sounds/tutorial.mp3" id="tutorial"></audio>
  <audio src="./sounds/location.mp3" id="location"></audio>
  <audio src="./sounds/agriculture.mp3" id="agriculture"></audio>
  <audio src="./sounds/factory.mp3" id="factory"></audio>
  <audio src="./sounds/construction.mp3" id="construction"></audio>
  <audio src="./sounds/childcare.mp3" id="childcare"></audio>
  <audio src="./sounds/custodian.mp3" id="custodian"></audio>
  <audio src="./sounds/government.mp3" id="government"></audio>
  <audio src="./sounds/manuallabor.mp3" id="manuallabor"></audio>

  <button id='add-job' class='btn btn-default addJob' data-toggle="modal" href="#myModal">
    <img class="plus" src="./markers/plus.png"/><span class="postJob">POST A JOB</span>
  </button>
       
</div>
<div id="bar"></div>
<div id="map-canvas"/>
<link rel="stylesheet" href="../../styles/main.css">
<script type="text/javascript">
  $('img').tooltip()
</script>
