html {
  height: 100% ;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

.topBar {
  height: 70px;
  text-align: center;
}

img:hover{
  height: 50px;
}

#add-job{
  float: right;
}

#logo{
  float: left;
}