$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
      max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
      padding-left: 0;
      padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

html {
  height: 100% ;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

.topBar {
  padding: 10px;
  height: 70px;
  text-align: center;
  box-shadow: 15px 15px 5px gray;
  background:#d9ef8b;
}

#add-job{
  float: right;
}

#logo{
  float: left;
}
.topBar img {

  display: inline-block;
  height: 80%;
  padding: 5px;
  margin-top: 5px;
  margin-right:10px;
  background: #a6d96a;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;

}

/*.img-circle {
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}*/
.topBar img:hover {
  box-shadow: 8px 8px 8px gray;
  height: 80%;
  min-width:32px;
  @include transition(height .15s linear);
  &.in {
    height: 90%;
  }
}

#bar {
  width: 100%;
  height: 10px;
  background: gray;
}
.fade {
  opacity: 0;
  @include transition(opacity .15s linear);
  &.in {
    opacity: 1;
  }
}

#add-job {
  background: #ffffbf;
}

/*#a50026    #d73027    #f46d43    
#fdae61    #fee08b    #ffffbf    
#d9ef8b    #a6d96a    #66bd63    
#1a9850    #006837 */   

button > img {
  margin: auto;
  vertical-align: center;
}

.modal-content{
  min-height: 400px;
  min-width: 300px;
  padding: 40px;
}

#myModal .modal-content textarea{
  width: 100%
}

#myModal .modal-body button{
  float: right;
  margin: 30px 0;
}

#myModal .modal-body input{
  width: 150px;
}

button.login{
  float: right;
  margin-top: 20px;
}

#jobModal .modal-content{
  margin-bottom: 50px;
}

#jobModal input, fieldset{
  margin-top: 15px;
  width: 100%;
}

#jobModal input{
  margin-top: 0;
}

#jobModal .btn-success{
  float: right;
  margin: 30px 0;
}

.addJob {
  padding-top: 3px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 190px;
}

.plus {
  float: left;
}

.postJob {
  letter-spacing: -2px;
  font-size: 25px;
  display: block;
  vertical-align: center;
  margin-top: 6px;
}

#newModal .modal-content{
  padding: 10px;
}
