$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
      max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
      padding-left: 0;
      padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

html {
  height: 100% ;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

.topBar {
  height: 70px;
  text-align: center;
}

img:hover{
  height: 100%;
}

#add-job{
  float: right;
}

#logo{
  float: left;
}
.topBar img {
  height: 80%;
  min-width: 50px;
  padding: 5px;
  background: #f46d43;
  border-radius: 5px;
  animation-timing-function: ease-in;
}

.topBar img:hover {
  height: 100%;
  min-width:60px;
}

.topBar {
  height: 20%;
  background: #a50026;
  box-shadow: 5px 5px 5px gray;
}

/*#a50026    #d73027    #f46d43    
#fdae61    #fee08b    #ffffbf    
#d9ef8b    #a6d96a    #66bd63    
#1a9850    #006837 */   

html {
    overflow: hidden;
}

body {
    background: #eee;
    text-align: center;
}

svg {
    display: inline-block;
}

iframe {
    display: inline-block;
    border: none;
    height: 300px;
    width: 400px;
    margin: 10px;
}